$txt-primary-color: #757575;
$txt-title-color: #212121;
$txt-contact: rgba(255, 255, 255, 0.6);
$txt-icon: #afb1b8;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$background: #f5f4fa;
$bgr-primary-dark: #2f303a;
$bgr-primary-light: #c4c4c4;
$bgr-icon: rgba(255, 255, 255, 0.1);
$border-color: #eeeeee;
$border-header: #ececec;

$primary-font: "Roboto", sans-serif;
$accent-font: "Raleway", sans-serif;
